# ================================
# Source
# ================================
# Anonymized download link of the review subset archive (448 MB)
--url=https://osf.io/download/6ab737febca12c92231409b9/?view_only=73f55c8d86214fe1b943ede5260ddf4e
--sha256=67701ca88e1caef7fa8c981d1ad02885e3995ebb313b87d5b1d680ab429d5b58

# ================================
# Output options
# ================================
--data_dir=data/FLOATSense
--towers=ref,opt1,opt2
