# ================================
# Source
# ================================
# Anonymized download link of the review subset archive (448 MB)
--url=https://osf.io/download/6ab737febca12c92231409b9/?view_only=73f55c8d86214fe1b943ede5260ddf4e
--sha256=46fdf8064a7375a2b7f3043cafed1f7d1324e9ea9d32390a445ca12b34b147ef

# ================================
# Output options
# ================================
--data_dir=data/FLOATSense
--towers=ref,opt1,opt2
