# ================================
# Source
# ================================
# Anonymized download link of the review subset archive (448 MB)
--url=https://osf.io/download/6ab737febca12c92231409b9/?view_only=73f55c8d86214fe1b943ede5260ddf4e
--sha256=099927350025ec23f02fc6f1636230310ff64d0645407d24f6eb6f7778db8e7d

# ================================
# Output options
# ================================
--data_dir=data/FLOATSense
--towers=ref,opt1,opt2
