# ================================
# Data
# ================================
--dataset_dir=data/FLOATSense
--test_split=test

# ================================
# Scoring
# ================================
--num_resamples=1000
--num_workers=16

# ================================
# Input and output
# ================================
--output_root=outputs
